[user]
  name = Nathanael Nienaber
  email = nn@tmrw.it

[core]
  editor = nano
  autocrlf = input

[alias]
  st = status
  co = checkout
  br = branch
  ci = commit
  lg = log --oneline --graph --decorate
